.principal{
    display: flex;
    width: 100%;
  }
  
  .secund2{
    width: 981px;
    height: 1023px;
    display: flex;
    gap: 20px;
   
  }
  
  
  .cuadromayor{
    display: flex;
    flex-direction: column;
   text-align: center;
   gap: 20px;
   
  }
  
  .cuadroDias{
    display: flex;
    justify-content: center;
  }
  
  .dias{
    width: 120px;
    height: 177px;
  
  }
  
  .datos{
    width: 328px;
    height: 204px;
  
  }